
html, body {
	 min-width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
 
	/*background-color:#ffffb3;*/
	background-image: url("pictures/background.jpg");
	background-repeat: no-repeat; /* Do not repeat the image */
 	background-size: cover;
	background-attachment: scroll;
}
nav{
	background-color: #8ca6ff;
	color: white;
	display: block;
}
h1{
	font-family: Garamond;
}
footer{
	text-align: center;
	background-color: #8ca6ff;
	position: sticky;
	bottom: 0;
   	overflow-x: hidden; 
  	min-width: 100%;
	height:30px


}
.body{
	position: relative;
	width: 100%;
	min-height: calc(100vh - 30px);
    	margin: 0px;
    	padding: 0px;
    	overflow-x: hidden; /*musthave*/
}
.seperator{
	align-content: center;
	
}

.about-me{
	color: black;
	/*background-color: #ff7733;*/
	position: relative;	
	align-content: center;
	display: block;
}
.greatings{
	/*background-color: #990000;*/

}
.maincontnet{
	justify-content: center;
	align-content: center;
	display: block;
	margin-bottom: auto;

	
}
.aboutmecontent{
	position: relative;; 
	color: black;
	display: block;
	text-align: center;
	

}
.footercontent{
	display: inline;
}


